<%- include ( 'partials/header' ) %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcom To My English World!</h1>
      <p>Here you can replenish your vocabulary of English words</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/words/new">Add New Word</a>
      </p>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Most popular words</h3>
    </div>
  </div>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% words.forEach(words => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= words.name %> <%= words.transcript %>  &#x2192  &#x2308<%= words.translation %>&#x230B </h4>
          </div>
          <img src="<%= words.image %>" alt="word image">
          <p style="margin-top: 10px;">
            <a class="btn btn-primary" href="/words/<%= words._id %>">More Info</a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include ( 'partials/footer' ) %>