<%- include ( 'partials/header' ) %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Create a New Word</h1>
    <div style="width: 45%; margin: 30px auto;">
      <form action="/words" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="translation" placeholder="translation">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
          <select class="form-control" name="part_of_speech">
            <option selected value="NOUN">NOUN - существительное</option>
            <option value="VERB">VERB - глагол</option>
            <option value="ADJECTIVE">ADJECTIVE — прилагательное</option>
            <option value="NUMERAL">NUMERAL — числительное</option>
            <option value="PRONOUN">PRONOUN — местоимение</option>
            <option value="ADVERB">ADVERB — наречие</option>
            <option value="PREPOSITION">PREPOSITION — предлог</option>
            <option value="CONJUNCTION">CONJUNCTION — союз</option>
            <option value="INTERJECTION">INTERJECTION — междометие</option>
          </select>
          <!-- <input class="form-control" type="text" name="part_of_speech" placeholder="part_of_speech"> -->
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="example" placeholder="example">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="transcript" placeholder="transcript">
        </div>
        <div class="form-group">
          <select class="form-control" name="level">
            <option selected value="A1">A1 — Beginner, Elementary</option>
            <option value="A2">A2 — Pre-Intermediate</option>
            <option value="B1">B1 — Intermediate</option>
            <option value="B2">B2 — Upper-Intermediate</option>
            <option value="C1">C1 — Advanced</option>
            <option value="C2">C2 — Proficiency</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/words">Go Back</a>
    </div>
  </div>
</div>
<%- include ( 'partials/footer' ) %>